
.saved-playlists {
    max-height: 100vh;
    overflow-y: auto;
    padding: 1em;
}

.search-bar {
    display: flex;
    padding: 8px;
    background: #1f2d40;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;

}

.playlists-container {
    margin-top: 1em;
}

.playlist-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.no-playlists-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.info-card {
    padding: 5em;
}

.no-more-data {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
}


